.pet-card {
  border-radius: 10px;
  /* height: 100px;
  width: 100px; */
  background-color: transparent;
  perspective: 500px;

  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.27); */
}

.pet-card-image {
  height: clamp(30px, 60%, 100%);
  width: clamp(30px, 60%, 100%);
}

.pet-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .pet-card:hover .pet-card-inner {
  transform: rotateY(180deg);
} */

.pet-card-front,
.pet-card-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pet-card-front {
  background-color: rgb(68, 68, 68);
}

.pet-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/night-field-dark.jpg);
  background-size: cover;
  transform: rotateY(180deg);
}
