.pet-card {
  border-radius: 20px;
  /* height: 100px;
  width: 100px; */
  background-color: rgba(0, 0, 0, 0.276);

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pet-card-image {
  height: 50%;
  width: 50%;
}
