.pet-grid {
  display: grid;
  gap: clamp(1px, 10px, 20px);
  height: clamp(50px, 500px, 90%);
  width: clamp(50px, 500px, 90%);
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
}
